# `PHYTON DATA TYPE`

## varialbe name = value (this is synatax)

## value have data types as below   || `PHYTON DATA TYPES` ||

- #### INTEGER    :The value without decimal like ( 100,560,999,)

- #### FLOAT      :value with decmial like (58.64, 89.52, 100.56)

- #### BOOLEAN    :True or False

- #### COMPLEX    :( a+bj) where a mean real and b means inaginary and j means square root of -1

- #### STRING     : Always enter in single , double or multile quotes ('NIT'  or  ''NIT''  or   '''NIT''')

# INTEGER DATA TYPE

In [1]:
i = 30
i

30

In [2]:
type(i)

int

- The type function is used for to know the type of data type.

-  we can call it as interger data type or integer value.

- Integer will never have decimal value.

- and we can aslo like write as below.

In [3]:
print(type(i))

<class 'int'>

In [4]:
a,b,c = 10,20,30
a,b ,c

(10, 20, 30)

In [5]:
i

30

In [6]:
i,i1, i2 =30,  20, 30
i + i1 + i2

80

In [7]:
i - i2+ i1

20

In [8]:
i - (i2+ i1)

-20

- ####  In the above case `BODMAS` rule is applied

# FLOAT DATA TYPE

- #### Float division will always have decimal value

In [9]:
f = 110.23
f

110.23

In [10]:
type (f)

float

In [11]:
f, f1 , f2, f3 = 110.23, 2.3, 3.4, 5.1
f,f1, f2,f3

(110.23, 2.3, 3.4, 5.1)

In [12]:
print (f,f1, f2, f3)

110.23 2.3 3.4 5.1

- #### if you want output `IN LINE WISE`  write the code in above pattern

In [13]:
print(f)
print (f1)
print (f2)
print (f3)

110.23
2.3
3.4
5.1

- ####  If you want output IN `ROW WISE ` write the code in above pattern

In [14]:
f1 = 1e0
f1

1.0

In [15]:
f2 = 2e1
f2

20.0

In [16]:
f3 = 3e2
f3

300.0

In [17]:
f4= 3e3
f4

3000.0

#### In Mathamatics exponent (e to the power of zero is one )

- e0 is 1

- e1 is 10

- e2 is 100

- e3 is 1,000

- e4 is 10,000

- e5 is 10,00,000 and so on

- Only 'e' letter allowed in float

In [18]:
f5=2.4e2
f5

240.0

# BOOL or BOOLEAN DATA TYPE        ||     True or  FALSE

In [19]:
b = true
b

NameError: name 'true' is not defined

- #### It is showing error because, in Python when ever you define true or fasle the first letter should be always 'CAPITAL'

- we need to enter code as show as below

In [20]:
b = True
b

True

In [21]:
b1 = False
b1

False

In [22]:
print(b)
print(b1)

True
False

In [23]:
True + False

1

In [24]:
True - False

1

In [25]:
False - True

-1

In [26]:
True + True + True + False - True

2

In [27]:
False * True

0

In [28]:
True * True

1

In [29]:
False / True

0.0

#### In the above  codes the out put showing as 1 since there are no digit, because in internal memory True is refered as '1' and False is refered as '0'

-  1 + 0 = 1 (True + False)

- 1 - 0 = 1 (True - False)

- 0 - 1 = -1 (False - True)

- 1 + 1 + 1 + 0 - 1 = 2 ( True + True + True + False - True )

- 0 * 1 = 0 ( Falae * True ) `'Multiplication'`

-  1 * 1 = 1 ( True * True) `'Multiplication'`

-  0 / 0 = 0 ( False / True) `'Divison'`

In [30]:
True / False

ZeroDivisionError: division by zero

####  The above code it is showing as zero division error

####  In python there a 3 typres of errors
   -   --> Compile time error
   -   --> run time error
 -  --> Zero divison error

- ####  Complie time error is: a user whicle writing code some words are missing like, comma, fullstop or Capital letter missing like that. any error happend by user side is called complie time error. It is aslo called as Syntactical error ot Syntax error.

- ####  Run time error: A computer shows an error, Which is not from user end  but from the system point of view.

- #### Zero division error: No error from user, but system understand the error and will ping the message.

# COMPLEX DATA TYPE

- ##### The fromula for complex is = (a+bj)

- ##### a means real part

- ##### b means imaginary part

- ##### j menas square root of minus one (-1)

In [31]:
c= 1 + 20j
c

(1+20j)

In [32]:
type(c)

complex

In [33]:
c

(1+20j)

In [34]:
c.real

1.0

In [35]:
c.imag

20.0

`type c. and hit tab button you can see the options `

In [36]:
c1 = 10+20j
c2 = 30+40j

print (c1 + c2)

print (c1 - c2)

(40+60j)
(-20-20j)

`No space should be given befro j ( 20j  not 20 j)`

# STRING DATA TYPE

In [37]:
s = 'nit'
s

'nit'

In [38]:
type (s)

str

In [39]:
s1= 'hello python'
s1

'hello python'

In [40]:
s2 = '''nit hello python'''
s2

'nit hello python'

####  We can define string in 3 ways

- single qutoe      `'   '`

- double quote     `''    ''`

- thriple quote    `'''     '''`

- Single qutoe and Double quotes  used for single line comment

- Thriple quote we use for multiline comments

# STRING INDEXING

## In python numbers begin from 0 not from 1 
   #### For rxample: 0,1,2,3,4, and so on.

-  n= (n-1)

-  String are divied in 2 types  Forward indexing and backward indexing.

- Forward indexing means --> LEFT to RIGHT ( 0,1,2,3,4,......)

- Backward indexing means -->  RIGHT to LEFT (-1, -2, -3, -4 ..........)

In [41]:
s1

'hello python'

In [42]:
s1 [0]

'h'

In [43]:
s1[-4]

't'

In [44]:
s1[4]

'o'

In [45]:
s1[5]

' '

#### In hello phtyon string  the fifth place is  given as space that is why when you enter s1[5] it is showning space in the out put as above.

In [46]:
s1[-7]

' '

In [47]:
s

'nit'

In [48]:
print(s[0])
print(s[1])
print(s[2])

n
i
t

#### In the above if we want to print in straight line  use inner brackets like this  [ ]

# STRING SLICING

Slincing denotes with coloum (:)

In [49]:
s1

'hello python'

In [50]:
s1[:]

'hello python'

- #### Empty Slice means it print the string as it is.

In [51]:
s1[2:7]

'llo p'

- The above code states s1[2:7} means print 2 index to 7 index from word hello python.

- hello python

- 01234567891011

- #### 2:7= llo p( we picked the letter which are fronm 2 to 7 in word hello python, but in hello python the 7th letter is y but in out put it is showing as p because we apply formula (n-1) (7-1=6)

- #### For the right side index we apply fromula (n-1)

In [52]:
s3= 'dataanalyst'
s3

'dataanalyst'

In [53]:
s3[0:10]

'dataanalys'

In [54]:
s3[0:11]

'dataanalyst'

In [55]:
s3[12]

IndexError: string index out of range

#### in the above code it is hsowing error because the word dataanalyst have only 10 letters and we have entered code as s3[12]  which is out of range, that is why it is showing error

In [56]:
s3[10]

't'

In [57]:
s3[9]

's'

In [58]:
s3[9:12]

'st'

# STRING ADVANCE SLICING

In [59]:
s3

'dataanalyst'

In [60]:
s3[0:11:2]

'dtaayt'

### dataanalyst

### 012345678910

- In the above code 2 means step count

-  The step count eliminates 2 letters from index, since we mentioned 2 as step count

-  Whatever number you mention in step count it eliminates that many letter

- #### For example: if you entered step count as 3 it eliminates 3 letters forn the index as you can see below

In [61]:
s3[0:11:3]

'daas'

In [62]:
s3[0:11:4]

'day'

In [63]:
s3[2:-2]

'taanaly'

In [64]:
print(s)
print(s1)
print(s2)
print(s3)

nit
hello python
nit hello python
dataanalyst

In [65]:
for i in s3:
    print(i)

d
a
t
a
a
n
a
l
y
s
t