# PHYTON VARIABLE AND RULES OF VARAIBLE
### Phyton Variable Concept = Phyton Identifier Concept = Phyton Object Concept

### syntax of define variable ||`VARIBALE NAME = VALUE` ||

In [1]:
NIT = 15
NIT

15

#### For example: In the abouve code `NIT is  variable name`|| and `15 is value`

- We call variable with same name it means when we enter variable namne as NIT, the system will store in RAM space with same variable name 

- For futher code  aslo we need to use same NIT we cannot use nit to get the output since variable name is ## CASE SENSITIVE ##

In [2]:
NIT = 20
NIT

20

-  We can change the memory, earlier we have defined NIT as 15 and in the above code we have defined  NIT as 20, so the output changes since we have defined new memory for NIT and old memory will be delted

- To get ole memory again we need to define with same varvialbe name and value for example: NIT = 15

- Whatever variable name we define the value shows as per the present variable name only.

In [3]:
v= 15
v

15

In [4]:
print (v)
print (NIT)

15
20

- #### In memory system will store two variables with name and value

In [5]:
1var = 20
1var

SyntaxError: invalid decimal literal (3644059140.py, line 1)

- #### It is showing error because Varialbe name never start with digit or numeric

In [6]:
var1 = 20
var1

20

- #### In the above code with have give variable name as var1, we can add digit in the variable name but cannot add  as first letter or word.

In [7]:
var$ = 50
var$

SyntaxError: invalid syntax (369491260.py, line 1)

- #### It is showing error because in  Varialbe name no special character is allowed.
- #### We can use only one sepcial character that is under score `_` as you can see below.

In [8]:
var_=67
var_

67

In [9]:
x_train, x_test = 80, 20
print(x_train)
print(x_test)

80
20

In [10]:
x_train, x_test = 80, 20, 50
print(x_train)
print(x_test)

ValueError: too many values to unpack (expected 2)

- #### In the above code it is showing error beacuse we have given only two varaibles name but  three values 
- #### We can assign only as per ( how many varialbe name = how many values ) only
- #### We cannot assgin three values for two variable name that is why it is showing error. 
- #### You can see the output below for the above code.

In [11]:
x_train, x_test, x_west = 80, 20, 50
print(x_train)
print(x_test)
print( x_west)

80
20
50

- #### instead of writing 
- a = 10
- b = 20
- c = 30
- d = 40

- #### we can write a,b,c,d = 10,20,30,40 

- print(a)
- print(b)
- print(c)
- print(d)

- #### and you will get the out put, you can check below

In [12]:
a,b,c,d = 10,20,30,40

print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [13]:
a,b,c,d = 10,20,30,40

print(a,b,c,d)

10 20 30 40

- #### we can write print like this also and got the output.

In [14]:
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa =78
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

78

- #### Variable name doesnt have any length limit

In [15]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [16]:
len(keyword.kwlist)

35

In [17]:
There are total 35 keywords

SyntaxError: invalid syntax (3669229664.py, line 1)

In [18]:
if= 45
if

SyntaxError: invalid syntax (3968842992.py, line 1)

- #### It is showing error because in Python keywords never been an variable, in the above caode if is an keyword

# Rules & Regualtion to Define PHYTON VARIABLE -->

- ## Varialbes are case sesitive.
- ## Varialbe never start with digit or numeric.
- ## Variable never ever have any special characters 
- ## Only one special character is allowed that is  under score (_)
 - ## Variable name doesnt have any length limit
 - ## Python keywords never been an variable

# The keywords are called reserved words in phyton