# INPUT FUNCTION

In [1]:
x = input()
x

 5

'5'

In [2]:
x = input()
x

 hello

'hello'

- #### in input function By default the output shows as string datatype

In [3]:
type(x)

str

In [4]:
x = input()
y = input()
z = x + y

 2
 3

In [5]:
print(z)

23

- #### From the above code we gave to fucntion x and y as 2 and 3
- #### calcuation of z is 2 +3 = 5, but the output showing as 23
- #### we need use  to type casting to get output as 5

In [6]:
x1 = input('enter the 1st number')
y1 = input('enter the 2nd number')
z1 = x1 + y1

enter the 1st number 2
enter the 2nd number 3

In [7]:
print(z1)

23

- #### Still the ouput showing as 23, because still, the inputs are string you can see bleow.

In [8]:
print(type(x1))
print(type(y1))

<class 'str'>
<class 'str'>

In [9]:
x1 = input('enter the 1st number') # now we are suing type conversion string to int
a1 = int(x1)
y1 = input('enter the 2nd number') # now we are suing type conversion string to int
b1 = int(y1)
z1 = a1 + b1
print(z1)

enter the 1st number 2
enter the 2nd number 3

5

- #### The output showing a 5 because we have used type conversion as above, but this is too long code, to optimize the code we write it like below

# TYPE CONVERSION TO INTEGER OPTIMISING THE CODE

In [10]:
x2 = int(input('enter the 1st number')) # now we are suing type conversion string to int
y2 = int(input('enter the 2nd number')) # now we are suing type conversion string to int
z2 = x2 + y2
print(z2)

enter the 1st number 2
enter the 2nd number 3

5

- #### The above output showingas 5, but we have to optimised code to look short.

In [11]:
x2 = int(input('enter the 1st number')) # now we are suing type conversion string to int
y2 = int(input('enter the 2nd number')) # now we are suing type conversion string to int
z2 = x2 + y2
print(z2)

enter the 1st number 10
enter the 2nd number 20

30

# CHARACTER and INDEXING

In [12]:
ch = input('enter a char')
print(ch)

enter a char hello

hello

In [13]:
print(ch[0]) # 0 index

h

In [14]:
print(ch[0:2]) # 0th index to 2nd index

he

In [15]:
print(ch[1])

e

In [16]:
print(ch[-1])

o

# CHARACTER and INDEXING OPTIMISING THE CODE

In [17]:
ch = input('enter a char')[0]
print(ch)

enter a char h

h

In [18]:
ch = input('enter a char')[3]
print(ch)

enter a char hello

l

# ENTER AN EXPRESSION 
# eval function

In [19]:
r = input('enter an expr')
print(r)

enter an expr 10+2

10+2

In [20]:
print(type(r))

<class 'str'>

- ####  The above output shows string, but we need value
- ####  we use eval function to get the result

In [21]:
r = eval(input('enter an expr'))
print(r)

enter an expr 10+2

12