
# TUPLE DATA STRUCUTRE

- ### TUPLE Data structure is always defined with square backets () OPEN BRACKETS
- ### TUPLE has only two functions
- ### TUPLE is immutable 0r unhashable or unchangable
- ### TUPLE allows duplicate of elements

In [1]:
t =()
t

()

In [2]:
type(t)

tuple

In [3]:
t=(10,10,20,30)
t

(10, 10, 20, 30)

### `COUNT FUNCTION`

In [4]:
t.count(10)

2

In [5]:
t.index(20)

2

- #### tuple has only two fucntion as you can see above, apart from this there are no other functions are allowed  like LIST DATA STRCUTURE.

- #### tuple allows all the data types like integer,float,string,compex boolean, you can see below

In [6]:
t1= (20, 2.3, 'nit', 1+2j, True)
t1

(20, 2.3, 'nit', (1+2j), True)

In [7]:
t1.count(20)

1

In [8]:
t1.index(True)

4

In [9]:
t1

(20, 2.3, 'nit', (1+2j), True)

In [10]:
for i in t1:
    print(i)  # this is code for loop

20
2.3
nit
(1+2j)
True

In [11]:
for i in enumerate(t1):
    print(i)

(0, 20)
(1, 2.3)
(2, 'nit')
(3, (1+2j))
(4, True)

In [12]:
t1

(20, 2.3, 'nit', (1+2j), True)

In [13]:
t1[:4]

(20, 2.3, 'nit', (1+2j))

- #### In tuple slicing is allowed

In [14]:
t

(10, 10, 20, 30)

In [15]:
t2 = t * 4
t2

(10, 10, 20, 30, 10, 10, 20, 30, 10, 10, 20, 30, 10, 10, 20, 30)

- #### The above output showing t elements 4 times, beaucse of the code we entered
- ####  it does not mutiply the elements it only display duplicates like above

In [16]:
t1

(20, 2.3, 'nit', (1+2j), True)

In [17]:
t5=t1*2
t5

(20, 2.3, 'nit', (1+2j), True, 20, 2.3, 'nit', (1+2j), True)

In [18]:
t

(10, 10, 20, 30)

In [19]:
t1

(20, 2.3, 'nit', (1+2j), True)

In [20]:
t2

(10, 10, 20, 30, 10, 10, 20, 30, 10, 10, 20, 30, 10, 10, 20, 30)

In [21]:
t5

(20, 2.3, 'nit', (1+2j), True, 20, 2.3, 'nit', (1+2j), True)

In [22]:
print(id(t))
print(id(t1))
print(id(t2))
print(id(t5))

2310753079744
2310752866832
2310747286592
2310753001152

- #### The above output show thwe address of  memory location of the specified variables
- #### we use  fucnction id

# TUPLE MEMBERSHIP

In [23]:
mytuple = ('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [24]:
'one' in mytuple #  this is to check element is present or not
                 # if presnt 'True' or 'False'

True

In [25]:
'ten' in mytuple #  'ten'is not present  in the lsit that is why false

False

In [26]:
if 'three' in mytuple:
    print('Three is present in the tuple')

else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [27]:
if 'eleven' in mytuple:
    print('eleven is present in the tuple')

else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

# INFORMATION  TO KNOW

### IDE (Integrated Development Environment), the tool what we are using to write the code, run the code, bebug the code (Jupyter)

  - IDE'S ARE: jupyter, pycharm, vs code, spyder

### PYTHON INTERPRETER: run the code or execute the code line by line.

###  PYTHON COMPLIER: execute entire code at once.

### PYTHON CONSTRCTOR: will tells us how much space is  required for defined varaibeles in memory  
   - we can call it as `__init__  (two underscores)`

#### PYTHON SPECIAL CONCEPT: there are two special concepts: 
   - 1. `__name__`
   - 2. `__init__`